/* Write your CSS code here */
.nav-link {
  margin-bottom: 10px;
}
.header {
  font-family: 'Roboto';
}
.nav-menu {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.nav {
  text-decoration: underline;
  padding: 10px;
}
